@model Lab3REDO.Models.Doctor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HospitalId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hospitals.Find(z => z.Id == model.HospitalId).Name)
        </dd>

        <dt>
            Hospital Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hospitals.Find(z => z.Id == model.HospitalId).Address)
        </dd>

    </dl>
</div>
<div>
    <ul>
        @foreach (var item in Model.Patients)
            {
                <li>

                    @Html.ActionLink(item.Name, "Details", "Patients", new { id = item.Id })

                </li>
            }
    </ul>
</div>
<a href="/Doctors/InsertNewPatient/@Model.Id">Insert patient to doctor</a>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
